@font-face {font-family: fa; src: url(../fonts/fa-solid-900.ttf);}

@font-face {font-family: bold; src: url(../fonts/open-sans.extrabold.ttf);}
@font-face {font-family: norm; src: url(../fonts/open-sans.regular.ttf);}