.infoblock {
  position             : relative;
  font-size            : 3rem;
  min-height           : 200px;
  margin-bottom        : 15px;
  border               : 1px solid lightgrey;
  border-radius        : 6px;
  padding              : 15px;
  font-family          : spec;
  &__header {
    font-size          : 3rem;
    line-height        : 1.3em;
    text-transform     : uppercase;
    position           : relative;
    &:after {
      content          : '';
      display          : block;
      position         : absolute;
      width            : 100%;
      height           : 10px;
      background-color : #2f414b;
    }
  }
  &__img-holder {
    width              : 260px;
    height             : 185px;
    margin             : 15px auto;
    position           : relative;
  }
  &__img-date {
    height             : 30px;
    line-height        : 30px;
    font-size          : 2rem;
    text-align         : right;
  }
  &__img-marker {
    position           : absolute;
    z-index            : 2;
    top                : 0;
    height             : 0;
    width              : 60px;
    height             : 60px;
  }
  &__main-img-wrapper {
    position           : absolute;
    z-index            : 1;
    bottom             : 0;
    right              : 0;
    width              : 230px;
    height             : 155px;
  }
  &__main-img {
    max-width          : 100%;
    max-height         : 100%;
  }
  &__content-holder {}
  &__text {
    font-size          : 1.8rem;
    overflow           : hidden;
    position           : relative;
    transition         : height .5s;
    p::first-letter {
      font-family      : consola;
      font-size        : 3rem;
      padding          : 0 10px;
      color            : white;
      background-color : #2f414b;
    }
  }
  &__text-cover {
    display            : block;
    height             : 100%;
    width              : 100%;
    position           : absolute;
    z-index            : 1;
    top                : 0;
    left               : 0;
    background-image   : linear-gradient(transparent, rgba(255,255,255,.3), rgba(255,255,255,.95));
  }
  &__text-btns-wrapper {
    position           : absolute;
    z-index            : 2;
    bottom             : 0;
    right              : 0;
  }
  &__text-btn {
    height             : 25px;
    line-height        : 18px;
    border             : 1px solid transparent;
    border-radius      : 4px;
    background-color   : #2f414b;
    font-family        : specItal;
    font-size          : 1.8rem;
    color              : white;
    letter-spacing     : 1px;
    cursor             : pointer;
    margin-left        : 6px;
  }
  &__link {
    font-family        : spec;
    font-size          : 1.8rem;
    a {
      font-family      : specItal;
      text-decoration  : underline;
      color            : dodgerblue;
    }
  }
  &__social-btns-area {
    padding            : 6px 0;
    display            : flex;
    justify-content    : flex-start;
    align-items        : center;
  }
  &__social-btn {
    margin-right       : 10px;
    width              : 24px;
    height             : 24px;
  }
  &__social-img {
    width              : 24px;
    height             : 24px;
    user-select        : none;
  }
}

@media only screen and (min-width: 768px) {
  .infoblock {
    &__header {
      width            : calc(100% - 260px - 15px);
      margin-left      : auto;
      margin-bottom    : 15px;
    }
    &__img-holder {
      position         : absolute;
      top              : 0;
      left             : 0;
      margin           : 15px 0 0 15px;
    }
    &__content-holder {
      width            : calc(100% - 260px - 15px);
      margin-left      : auto;
    }
  }
}