* {
	box-sizing      : border-box;
	font-family     : norm;
	font-size       : 10px;
}

a, a:hover {
	color           : black;
	text-decoration : none;
}
.clearfix::after {
	content         : "";
	display         : table;
	clear           : both;
}
