// @import "variables";
@import "fonts";
@import "style_general";

// @import "index/index_320+";
// @import "index/index_576+";
// @import "index/index_768+";
// @import "index/index_992+";
// @import "index/index_1200+";

//BEM-blocks
@import "../BEM-blocks/language-switcher/language-switcher.scss";
@import "../BEM-blocks/header/header.scss";
@import "../BEM-blocks/popup-business/popup-business.scss";
@import "../BEM-blocks/pagination/pagination.scss";
@import "../BEM-blocks/small-popup/small-popup.scss";

.search-wrapper {
  display               : flex;
  justify-content       : center;
  align-items           : center;
  padding               : 0 0 30px;
}
.search {
  height                : 30px;
  width                 : 450px;
  display               : flex;
  justify-content       : center;
  align-items           : center;
  position              : relative;
  &__type-btn {
    height              : 100%;
    width               : 40px;
    border              : 1px solid lightgrey;
    border-radius       : 4px 0 0 4px / 4px 0 0 4px;
    display             : flex;
    justify-content     : center;
    align-items         : center;
    cursor              : pointer;
    position            : relative;
    img {
      height            : 25px;
      width             : auto;
    }
  }
  &__type-btn-cover-for-click {
    position           : absolute;
    top                : 0;
    left               : 0;
    width              : 100%;
    height             : 100%;
    cursor             : pointer;
  }
  &__type-list {
    position           : absolute;
    z-index            : 3;
    top                : 100%;
    left               : 0;
    display            : none;
  }
  &__list-item {
    display            : flex;
    justify-content    : flex-start;
    align-items        : center;
    position           : relative;
    cursor             : pointer;
    span {
      width            : 200px;
      padding          : 2px 6px 0;
      border           : 1px solid lightgrey;
      background-color : white;
      height           : 30px;
      font             : 16px spec;
    }
  }
  &__list-item-img-wrapper {
    height             : 30px;
    width              : 40px;
    border             : 1px solid lightgrey;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    cursor             : pointer;
    background-color   : #f0f0f0;
    img {
      height           : 25px;
      width            : auto;
    }
  }
  &__field {
    height             : 100%;
    width              : calc( 100% - 40px - 100px );
    border             : 1px solid transparent;
    border-top         : 1px solid lightgrey;
    border-bottom      : 1px solid lightgrey;
    padding            : 0 10px;
    &:not(:first-of-type) {
      display          : none;
    }
  }
  &__btn {
    height             : 100%;
    width              : 100px;
    font               : 18px spec;
    display            : flex;
    justify-content    : flex-start;
    align-items        : center;
    border             : 1px solid #23cd45;
    background-color   : #23cd45;
    color              : yellow;
    border-radius      : 0 4px 4px 0 / 0 4px 4px 0;
    cursor             : pointer;
    svg {
      margin-right     : 10px;
    }
    span {
      position         : relative;
      top              : -2px;
      letter-spacing   : 1px;
    }
  }
}

.business-wrapper {
  margin               : 0 auto;
  max-width            : 1402px;
  display              : grid;
  justify-content      : center;
  grid-template-columns: repeat(auto-fill, 280px);
}
.business {
  display              : block;
  width                : 250px;
  height               : 250px;
  position             : relative;
  margin               : 15px;
  &:last-of-type {
    margin-right: auto;
  }
  &__bcg {
    width              : 100%;
    height             : 100%;
    position           : absolute;
    z-index            : 1;
  }
  &__img {
    width              : 60%;
    height             : 60%;
    position           : absolute;
    z-index            : 2;
    top                : 20px;
    left               : 50%;
    transform          : translate(-50%);
  }
  &__name {
    position           : relative;
    z-index            : 2;
    font               : 3rem spec;
    text-transform     : uppercase;
    text-align         : center;
    padding            : 170px 10px 0;
  }
}
