.small-popup {
	min-width              : 300px;
	max-width              : 450px;
	min-height             : 50px;
	max-height             : 70vh;
	border                 : 1px solid lightgrey;
	border-radius          : 8px;
	background-color       : white;
	box-shadow             : 0 0 10px black inset, 0 0 10px white;
	position               : absolute;
	top                    : -100%;//20px;
	left                   : 50%;
	transform              : translate(-50%);
	padding                : 16px;
	font-size              : 14px;
	overflow               : hidden;
	line-height            : 1.3em;
	transition             : top .5s;
	&__close-button {
		position             : absolute;
		top                  : 6px;
		right                : 6px;
		width                : 18px;
		height               : 18px;
		padding              : 0;
		margin               : 0;
		outline              : none;
		background-color     : white;
		border               : 1px solid transparent;
		border-radius        : 4px;
		cursor               : pointer;
		box-shadow           : 0 0 5px grey;
		display              : flex;
	}
	&__close-cross {
		width: 100%;
		height: 100%;
	}
	&__header {
		position             : relative;
		z-index              : 1;
		font-family          : bold;
		padding              : 0 12px 12px;
		text-align           : center;
	}
	&__body {
		position             : relative;
		z-index              : 1;
		text-align           : justify;
	}
	&__buttons-area {
		position             : relative;
		z-index              : 1;
		margin-top           : 10px;
		display              : flex;
		justify-content      : center;
		align-items          : center;
		flex-wrap            : wrap;
	}
	&__button {
		height               : 26px;
		max-width            : 150px;
		min-width            : 80px;
		border               : 1px solid grey;
		border-radius        : 4px;
		cursor               : pointer;
		margin               : 3px auto;
		background-color     : white;
		transition           : background-color .5s, border-color .5s;
		overflow             : hidden;
		padding              : 0 3px;
		text-align           : center;
		font-family          : norm;
		font-size            : 14px;
    &:hover {
			background-color   : lightskyblue;
			border-color       : lightgrey;
    }
	}
	&__background {
		width                : 30px;
		position             : absolute;
		top                  : 0;
		left                 : 20px;
		opacity              : .4;
  }
	&__background-image {
		width                : 100%;
		display              : block;
		margin               : 0;
	}
}