.bg-content-simple-image-example {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bg-content-simple-image-example img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
