// ↓↓↓ BEM-blocks: bg-content (start) ↓↓↓
.bg-content-simple-image-example
  img(src='assets/img/btr4.jpg' alt='btr4.jpg')

//- style
//-   include bg-content.css
script
  include ../minjs/bg-content/bg-content.js
// ↑↑↑ BEM-blocks: bg-content (end) ↑↑↑