// ↓↓↓ BEM-blocks: pagination (start) ↓↓↓
.pagination
  a.pagination__link(href='#' target='_blank')
    img.pagination__img(src='assets/img/gear-wheel.png' alt='gear-wheel.png')
    span.pagination__pade-number 1

  a.pagination__link(href='#' target='_blank')
    img.pagination__img(src='assets/img/gear-wheel.png' alt='gear-wheel.png')
    img.pagination__pade-arrow(src="assets/img/arrow-backward.png", alt="arrow-backward.png")

  a.pagination__link(href='#' target='_blank')
    img.pagination__img(src='assets/img/gear-wheel.png' alt='gear-wheel.png')
    span.pagination__pade-number 4

  a.pagination__link(href='#' target='_blank')
    img.pagination__img(src='assets/img/gear-wheel.png' alt='gear-wheel.png')
    span.pagination__pade-number 5
  a.pagination__link(href='#' target='_blank')
    img.pagination__img(src='assets/img/gear-wheel.png' alt='gear-wheel.png')
    span.pagination__pade-number 6
  a.pagination__link(href='#' target='_blank')
    img.pagination__img(src='assets/img/gear-wheel.png' alt='gear-wheel.png')
    span.pagination__pade-number 7

  a.pagination__link(href='#' target='_blank')
    img.pagination__img(src='assets/img/gear-wheel.png' alt='gear-wheel.png')
    span.pagination__pade-number 8

  a.pagination__link(href='#' target='_blank')
    img.pagination__img(src='assets/img/gear-wheel.png' alt='gear-wheel.png')
    img.pagination__pade-arrow(src="assets/img/arrow-forward.png", alt="arrow-forward.png")

  a.pagination__link(href='#' target='_blank')
    img.pagination__img(src='assets/img/gear-wheel.png' alt='gear-wheel.png')
    span.pagination__pade-number 33

//- style
//-   include pagination.css
//- script
//-   include ../minjs/pagination/pagination.js
// ↑↑↑ BEM-blocks: pagination (end) ↑↑↑