// ↓↓↓ BEM-blocks: language-switcher (start) ↓↓↓
.language-switcher(data-language='ua')
  img.language-switcher__img(src="assets/img/ua.png", alt="ua.png")
  img.language-switcher__img(src="assets/img/uk.png", alt="en.png")
  .language-switcher__shutter(href='#')


style
  include language-switcher.css
script
  include ../minjs/language-switcher/language-switcher.js
// ↑↑↑ BEM-blocks: language-switcher (end) ↑↑↑