// ↓↓↓ BEM-blocks: language-switcher (start) ↓↓↓
.language-switcher(data-language='ua')
  img.language-switcher__img(src="assets/img/ua.png", alt="ua.png")
  img.language-switcher__img(src="assets/img/uk.png", alt="en.png")
  img.language-switcher__img(src="assets/img/ru.png", alt="ru.png")
  .language-switcher__shutter-ua(href='#')
  .language-switcher__shutter-en(href='#')
  .language-switcher__shutter-ru(href='#')

//- style
//-   include language-switcher.css
script
  include ../minjs/language-switcher/language-switcher.js
// ↑↑↑ BEM-blocks: language-switcher (end) ↑↑↑