doctype html
html(lang='ua')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content="VeteranoService - свій до свого по своє ;-)")

    title VeteranoService
    link(rel='icon', href='assets/img/logo.png')

    // css-libs (slick, animate ...)
    link(rel='stylesheet', type='text/css', href='assets/libs-css/reset.css')
    link(rel='stylesheet', type='text/css', href='assets/libs-css/animate.css')

    // jquery
    script(src='assets/libs/jquery.js')

    // own stylesheet
    link(rel='stylesheet', type='text/css', href='assets/css/news.css')

  body
    // HEADER
    include assets/BEM-blocks/header/header.pug
    // /HEADER

    // MAIN SECTION
    main.main
      // SECTION 1
      section.main-section
        h1.main-section__header Допомога бізнесу

        .infoblock
          h3.infoblock__header header harum iusto odit quia eos minima

          .infoblock__img-holder
            img(src="assets/img/gear-wheel.png", alt="").infoblock__img-marker
            .infoblock__main-img-wrapper
              img(src="assets/img/photo1.jpg", alt="").infoblock__main-img

          .infoblock__content-holder
            .infoblock__text
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint in ipsa non nesciunt tempora, et nihil laborum quaerat optio soluta adipisci praesentium modi. Repellendus possimus distinctio laboriosam blanditiis adipisci odio, tempora voluptatum dolore impedit est voluptatibus ducimus dolor harum iusto odit quia eos minima labore, sapiente fuga expedita fugiat, optio sed! Esse adipisci, vel omnis vero porro quisquam inventore, alias, ab temporibus eaque hic dignissimos est consectetur. Minima sed nihil vel distinctio ducimus doloribus molestias accusamus delectus magnam adipisci recusandae asperiores cupiditate natus facere similique corrupti, eligendi provident facilis sint odio nesciunt quibusdam. Id numquam animi dignissimos laudantium, deserunt quis ut excepturi dicta, nobis voluptas, nisi a ex vel praesentium illum cumque repellat sint enim exercitationem itaque quae! Ut animi soluta, corrupti molestias impedit quas, illo expedita provident voluptas nostrum harum nisi vero eum voluptates nihil commodi, omnis laudantium! Ipsa nisi, laborum harum similique inventore, libero temporibus iure totam id, asperiores commodi obcaecati dolores. Non earum corporis placeat quod similique quam, quia officiis quo voluptate. Debitis dolorum amet provident voluptas libero laudantium inventore nihil voluptatem officiis veniam magni, molestias iste, qui ea in, ipsam. Libero excepturi natus ad culpa placeat earum ex repellat temporibus harum veniam consectetur dignissimos totam, magnam quisquam iure aspernatur repellendus voluptatibus quaerat. Nisi reiciendis molestiae facilis voluptas quam modi expedita perspiciatis assumenda veniam ad optio tenetur illo iusto inventore temporibus, harum aliquam placeat doloremque! Asperiores laborum corporis architecto, adipisci culpa tempore quod voluptates earum repellat nesciunt sunt officia tenetur eos rerum amet, consequatur obcaecati perspiciatis omnis hic quaerat impedit vitae. Similique et nam minima vero magni quod fugit. Eveniet iste blanditiis expedita laborum harum fugit deserunt modi eum id quaerat aut ipsa nisi deleniti, consequatur provident dolorem, dolorum distinctio maiores, labore consequuntur assumenda atque accusamus libero. Corporis accusantium culpa earum magni nisi quas ex dicta quibusdam.
              //- .infoblock__text-cover
              //- .infoblock__text-btns-wrapper
              //-   button.infoblock__text-btn ... читати далі
            .infoblock__link
              span посилання:
                |
                |
              a(href="#") перейти

        .infoblock
          h3.infoblock__header header harum iusto odit quia eos minima

          .infoblock__img-holder
            img(src="assets/img/gear-wheel.png", alt="").infoblock__img-marker
            .infoblock__main-img-wrapper
              img(src="assets/img/photo2.jpg", alt="").infoblock__main-img

          .infoblock__content-holder
            .infoblock__text
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .infoblock__link
              span посилання:
                |
                |
              a(href="#") перейти

        .infoblock
          h3.infoblock__header header harum iusto odit quia eos minima

          .infoblock__img-holder
            img(src="assets/img/gear-wheel.png", alt="").infoblock__img-marker
            .infoblock__main-img-wrapper
              img(src="assets/img/photo3.jpg", alt="").infoblock__main-img

          .infoblock__content-holder
            .infoblock__text
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint in ipsa non nesciunt tempora, et nihil laborum quaerat optio soluta adipisci praesentium modi. Repellendus possimus distinctio laboriosam blanditiis adipisci odio, tempora voluptatum dolore impedit est voluptatibus ducimus dolor harum iusto odit quia eos minima labore, sapiente fuga expedita fugiat, optio sed! Esse adipisci, vel omnis vero porro quisquam inventore, alias, ab temporibus eaque hic dignissimos est consectetur. Minima sed nihil vel distinctio ducimus doloribus molestias accusamus delectus magnam adipisci recusandae asperiores cupiditate natus facere similique corrupti, eligendi provident facilis sint odio nesciunt quibusdam. Id numquam animi dignissimos laudantium, deserunt quis ut excepturi dicta, nobis voluptas, nisi a ex vel praesentium illum cumque repellat sint enim exercitationem itaque quae! Ut animi soluta, corrupti molestias impedit quas, illo expedita provident voluptas nostrum harum nisi vero eum voluptates nihil commodi, omnis laudantium! Ipsa nisi, laborum harum similique inventore, libero temporibus iure totam id, asperiores commodi obcaecati dolores. Non earum corporis placeat quod similique quam, quia officiis quo voluptate. Debitis dolorum amet provident voluptas libero laudantium inventore nihil voluptatem officiis veniam magni, molestias iste, qui ea in, ipsam. Libero excepturi natus ad culpa placeat earum ex repellat temporibus harum veniam consectetur dignissimos totam, magnam quisquam iure aspernatur repellendus voluptatibus quaerat. Nisi reiciendis molestiae facilis voluptas quam modi expedita perspiciatis assumenda veniam ad optio tenetur illo iusto inventore temporibus, harum aliquam placeat doloremque! Asperiores laborum corporis architecto, adipisci culpa tempore quod voluptates earum repellat nesciunt sunt officia tenetur eos rerum amet, consequatur obcaecati perspiciatis omnis hic quaerat impedit vitae. Similique et nam minima vero magni quod fugit. Eveniet iste blanditiis expedita laborum harum fugit deserunt modi eum id quaerat aut ipsa nisi deleniti, consequatur provident dolorem, dolorum distinctio maiores, labore consequuntur assumenda atque accusamus libero. Corporis accusantium culpa earum magni nisi quas ex dicta quibusdam.
            .infoblock__link
              span посилання:
                |
                |
              a(href="#") перейти

        .infoblock
          h3.infoblock__header header harum iusto odit quia eos minima

          .infoblock__img-holder
            img(src="assets/img/gear-wheel.png", alt="").infoblock__img-marker
            .infoblock__main-img-wrapper
              img(src="assets/img/photo4.jpg", alt="").infoblock__main-img

          .infoblock__content-holder
            .infoblock__text
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint in ipsa non nesciunt tempora, et nihil laborum quaerat optio soluta adipisci praesentium modi. Repellendus possimus distinctio laboriosam blanditiis adipisci odio, tempora voluptatum dolore impedit est voluptatibus ducimus dolor harum iusto odit quia eos minima labore, sapiente fuga expedita fugiat, optio sed! Esse adipisci, vel omnis vero porro quisquam inventore, alias, ab temporibus eaque hic dignissimos est consectetur. Minima sed nihil vel distinctio ducimus doloribus molestias accusamus delectus magnam adipisci recusandae asperiores cupiditate natus facere similique corrupti, eligendi provident facilis sint odio nesciunt quibusdam. Id numquam animi dignissimos laudantium, deserunt quis ut excepturi dicta, nobis voluptas, nisi a ex vel praesentium illum cumque repellat sint enim exercitationem itaque quae! Ut animi soluta, corrupti molestias impedit quas, illo expedita provident voluptas nostrum harum nisi vero eum voluptates nihil commodi, omnis laudantium! Ipsa nisi, laborum harum similique inventore, libero temporibus iure totam id, asperiores commodi obcaecati dolores. Non earum corporis placeat quod similique quam, quia officiis quo voluptate. Debitis dolorum amet provident voluptas libero laudantium inventore nihil voluptatem officiis veniam magni, molestias iste, qui ea in, ipsam. Libero excepturi natus ad culpa placeat earum ex repellat temporibus harum veniam consectetur dignissimos totam, magnam quisquam iure aspernatur repellendus voluptatibus quaerat. Nisi reiciendis molestiae facilis voluptas quam modi expedita perspiciatis assumenda veniam ad optio tenetur illo iusto inventore temporibus, harum aliquam placeat doloremque! Asperiores laborum corporis architecto, adipisci culpa tempore quod voluptates earum repellat nesciunt sunt officia tenetur eos rerum amet, consequatur obcaecati perspiciatis omnis hic quaerat impedit vitae. Similique et nam minima vero magni quod fugit. Eveniet iste blanditiis expedita laborum harum fugit deserunt modi eum id quaerat aut ipsa nisi deleniti, consequatur provident dolorem, dolorum distinctio maiores, labore consequuntur assumenda atque accusamus libero. Corporis accusantium culpa earum magni nisi quas ex dicta quibusdam.
            .infoblock__link
              span посилання:
                |
                |
              a(href="#") перейти

        .infoblock
          h3.infoblock__header header harum iusto odit quia eos minima

          .infoblock__img-holder
            img(src="assets/img/gear-wheel.png", alt="").infoblock__img-marker
            .infoblock__main-img-wrapper
              img(src="assets/img/photo1.jpg", alt="").infoblock__main-img

          .infoblock__content-holder
            .infoblock__text
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint in ipsa non nesciunt tempora, et nihil laborum quaerat optio soluta adipisci praesentium modi. Repellendus possimus distinctio laboriosam blanditiis adipisci odio, tempora voluptatum dolore impedit est voluptatibus ducimus dolor harum iusto odit quia eos minima labore, sapiente fuga expedita fugiat, optio sed! Esse adipisci, vel omnis vero porro quisquam inventore, alias, ab temporibus eaque hic dignissimos est consectetur. Minima sed nihil vel distinctio ducimus doloribus molestias accusamus delectus magnam adipisci recusandae asperiores cupiditate natus facere similique corrupti, eligendi provident facilis sint odio nesciunt quibusdam. Id numquam animi dignissimos laudantium, deserunt quis ut excepturi dicta, nobis voluptas, nisi a ex vel praesentium illum cumque repellat sint enim exercitationem itaque quae! Ut animi soluta, corrupti molestias impedit quas, illo expedita provident voluptas nostrum harum nisi vero eum voluptates nihil commodi, omnis laudantium! Ipsa nisi, laborum harum similique inventore, libero temporibus iure totam id, asperiores commodi obcaecati dolores. Non earum corporis placeat quod similique quam, quia officiis quo voluptate. Debitis dolorum amet provident voluptas libero laudantium inventore nihil voluptatem officiis veniam magni, molestias iste, qui ea in, ipsam. Libero excepturi natus ad culpa placeat earum ex repellat temporibus harum veniam consectetur dignissimos totam, magnam quisquam iure aspernatur repellendus voluptatibus quaerat. Nisi reiciendis molestiae facilis voluptas quam modi expedita perspiciatis assumenda veniam ad optio tenetur illo iusto inventore temporibus, harum aliquam placeat doloremque! Asperiores laborum corporis architecto, adipisci culpa tempore quod voluptates earum repellat nesciunt sunt officia tenetur eos rerum amet, consequatur obcaecati perspiciatis omnis hic quaerat impedit vitae. Similique et nam minima vero magni quod fugit. Eveniet iste blanditiis expedita laborum harum fugit deserunt modi eum id quaerat aut ipsa nisi deleniti, consequatur provident dolorem, dolorum distinctio maiores, labore consequuntur assumenda atque accusamus libero. Corporis accusantium culpa earum magni nisi quas ex dicta quibusdam.
            .infoblock__link
              span посилання:
                |
                |
              a(href="#") перейти

        include assets/BEM-blocks/banners-holder/banners-holder.pug

      // /SECTION 1

      // SECTION 3
      section.popups-section
        //- include assets/BEM-blocks/popup-compliment/popup-compliment.pug
        include assets/BEM-blocks/popup-no-russian-language-suppurt/popup-no-russian-language-suppurt.pug
      // /SECTION 3

      include assets/BEM-blocks/pagination/pagination.pug

    // /MAIN SECTION

    // FOOTER
    //- include assets/BEM-blocks/footer/footer.pug
    // /FOOTER

    // scripts

    // own js