.social-btns-main {
  border               : 1px solid darkgrey;
  box-shadow           : 0 0 5px white;
  border-radius        : 6px;
  display              : flex;
  justify-content      : center;
  align-items          : center;
  flex-wrap            : wrap;
  width                : 50px;
  height               : auto;
  padding              : 6px 0 0;
  &__header {}
  &__link {
    display            : block;
    width              : 38px;
    height             : 38px;
    border             : 1px solid white;
    border-radius      : 8px;
    padding            : 3px;
    background-color   : rgba(255,255,255,.8);
    transition         : background-color .3s, width .3s, height .3s;
    margin-bottom      : 6px;
    &:hover {
      background-color : rgba(255,255,255,1);
      width            : 42px;
      height           : 42px;
      transition       : background-color .3s, width .3s, height .3s;
      img {
        width          : 34px;
        height         : 34px;
        transition     : width .3s, height .3s;
      }
    }
  }
  &__img {
    width              : 30px;
    height             : 30px;
    transition         : width .3s, height .3s;
  }
}
