// ↓↓↓ BEM-blocks: social-btns-main (start) ↓↓↓
.social-btns-main
  //- h5.social-btns-main__header Ми в соц. мережах
  a.social-btns-main__link(href='#' target='_blank')
    img.social-btns-main__img(src='assets/img/facebook.png' alt='facebook.png')

  a.social-btns-main__link(href='#' target='_blank')
    img.social-btns-main__img(src='assets/img/twitter.png' alt='twitter.png')

  a.social-btns-main__link(href='#' target='_blank')
    img.social-btns-main__img(src='assets/img/youtube.png' alt='youtube.png')

//- style
//-   include social-btns-main.css
//- script
//-   include ../minjs/social-btns-main/social-btns-main.js
// ↑↑↑ BEM-blocks: social-btns-main (end) ↑↑↑