// ↓↓↓ BEM-blocks: popup-prevent-exit (start) ↓↓↓
.popup-prevent-exit

style
  include popup-prevent-exit.css
script
  include ../minjs/popup-prevent-exit/popup-prevent-exit.js
// ↑↑↑ BEM-blocks: popup-prevent-exit (end) ↑↑↑