// ↓↓↓ BEM-blocks: banners-holder (start) ↓↓↓
.banners-holder
  a.place(href="form.html")
    img(src="assets/img/place.png", alt="place.png")
    span Розміщення на сайті
  a.help(href="#")
    img(src="assets/img/kozak.png", alt="kozak.png")
    span Допомога проекту

//- style
//-   include banners-holder.css
//- script
//-   include ../minjs/banners-holder/banners-holder.js
// ↑↑↑ BEM-blocks: banners-holder (end) ↑↑↑